.Form-Box{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* height: 500px; */
    background: linear-gradient(140deg, rgba(111,201,68,1) 40%, rgba(220,220,220,1) 50%, rgba(111,201,68,1) 60%);
    border: solid rgb(47, 107, 19) 3px;
    border-radius: 20px;
    padding: 30px 40px;
    gap:30px;
}

.Form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.Form > label {
    font-weight: bold;
}

.Text-Box {
    padding: 5px 0;
    border-radius: 3px;
    border: solid 2px rgb(47, 107, 19);
}

.Submit {
    padding: 5px 0;
    margin-top: 10px;
    background-color: rgba(111,201,68,0.6);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    border: solid 2px rgb(47, 107, 19);
    cursor: pointer;
}

/* .Form > * {
    border: solid red 2px;
} */